<ion-header>
  <ion-toolbar color="primary">
    <ion-menu-button slot="start"></ion-menu-button>
    <ion-title>Confirmar Carona</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-item>
          <ion-label position="stacked">
            <ion-icon slot="end" name="chatbubble-ellipses-sharp"></ion-icon>
            Mensagem
          </ion-label>
          <ion-textarea [(ngModel)]="obs" name="observacao" rows="3" cols="20"></ion-textarea>
        </ion-item>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-item-group *ngFor="let carona of caronas">
    <ion-list>
      <ion-item-divider>
        <ion-item>
          <ion-icon slot="start" name="calendar-sharp"></ion-icon>
          <ion-label>{{ carona.rota.data | date:"dd/MM/yyyy" }} - {{ carona.horario_aproximado }}</ion-label>
        </ion-item>
        <ion-item>
          <ion-icon button (click)="escolher(carona.id, true)" color="success" slot="end"
            name="checkmark-circle-outline">
          </ion-icon>
          <ion-icon button (click)="escolher(carona.id, false)" color="danger" slot="end" name="close-circle-outline">
          </ion-icon>
        </ion-item>
      </ion-item-divider>

      <ion-item>
        <ion-icon color="dark" slot="start" name="person-circle-outline"></ion-icon>
        <ion-label>{{ carona.usuario.nome }}</ion-label>
      </ion-item>

      <ion-item>
        <ion-icon color="danger" slot="start" name="location-sharp"></ion-icon>
        <ion-label>{{ carona.ponto_encontro }}</ion-label>
      </ion-item>

      <ion-item>
        <ion-icon color="danger" slot="start" name="arrow-forward-outline"></ion-icon>
        <ion-label>{{ carona.rota.fim }}</ion-label>
      </ion-item>

      <ion-item>
        <ion-icon color="success" slot="start" name="cash-sharp"></ion-icon>
        <ion-label>{{ carona.contribuicao.tipo }}({{ carona.contribuicao.valor }})</ion-label>
      </ion-item>

      <ion-item>
        <ion-icon color="dark" slot="start" name="people-sharp"></ion-icon>
        <div *ngIf="carona.acompanhantes == null || carona.acompanhantes == 0; else elseBlock">
          <ion-label>Sem Acompanhantes</ion-label>
        </div>
        <ng-template #elseBlock>
          <ion-label>{{ carona.acompanhantes }} Acompanhantes</ion-label>
        </ng-template>
      </ion-item>
    </ion-list>
  </ion-item-group>
</ion-content>