<ion-header>
  <ion-toolbar color="primary">
    <ion-item button (click)="voltarLogin()" color="primary" slot="start">
      Login
      <ion-icon slot="start" name="arrow-back-circle-outline"></ion-icon>
    </ion-item>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div id="header">
    <H1>Recuperação de Conta</H1>
  </div>
  <div>
    <form id="form" #frm="ngForm">
      <ion-list>
        <ion-item>
          <ion-label position="stacked">Email</ion-label>
          <ion-input [(ngModel)]="descEmail" name="email" autocomplete="off" type="email" required email>
          </ion-input>
        </ion-item>
      </ion-list>
      <ion-button (click)="recuperar(frm)" [disabled]="frm.invalid" color="primary" expand="block" shape="round">
        Redefinir Senha
      </ion-button>
    </form>
  </div>
</ion-content>