<ion-header>
  <ion-toolbar color="primary">
    <ion-menu-button slot="start"></ion-menu-button>
    <ion-title>Registrar Carona</ion-title>
  </ion-toolbar>
</ion-header>


<ion-content>
  <div>
    <ion-grid>
      <ion-row>
        <ion-col size="8">
          <ion-item>
            <ion-input [(ngModel)]="consultaCarona" name="consulta" placeholder="Cod. Verificador" expand="block"
              autocomplete="off" type="text" minlength="8" maxlength="8"></ion-input>
          </ion-item>
        </ion-col>
        <ion-col size="4">
          <ion-button (click)="consultarCarona(consultaCarona)" color="primary" size="default" expand="block">
            <ion-icon slot="start" name="search"></ion-icon>
          </ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
  <div>
    <form id="form" #frm="ngForm">
      <ion-list>
        <ion-item>
          <ion-label position="stacked">Rota</ion-label>
          <ion-input [(ngModel)]="carona.rota.verificador" (blur)="consultarRota(carona.rota.verificador)"
            name="codVerificador" readonly="true" autocomplete="off" type="text" required></ion-input>
        </ion-item>
      </ion-list>
      <ion-list>
        <ion-item>
          <ion-label position="stacked">Usuário(CPF)</ion-label>
          <ion-input [(ngModel)]="carona.usuario.cpf" name="cpf" mask="000.000.000-00" minlength="14" maxlength="14"
            autocomplete="off" type="text" [dropSpecialCharacters]="false" required></ion-input>
        </ion-item>
      </ion-list>
      <ion-list>
        <ion-item>
          <ion-label position="stacked">Horário</ion-label>
          <ion-input [(ngModel)]="carona.horario_aproximado" name="horario" autocomplete="off" type="time" required>
          </ion-input>
        </ion-item>
      </ion-list>
      <ion-list>
        <ion-item>
          <ion-label position="stacked">Acompanhantes</ion-label>
          <ion-input [(ngModel)]="carona.acompanhantes" name="acompanhantes" autocomplete="off" type="number" required>
          </ion-input>
        </ion-item>
      </ion-list>
      <ion-list>
        <ion-item>
          <ion-label position="stacked">Ponto Encontro</ion-label>
          <ion-input [(ngModel)]="carona.ponto_encontro" name="pontoEncontro" autocomplete="off" type="text" required>
          </ion-input>
        </ion-item>
      </ion-list>
      <ion-grid>
        <ion-row>
          <ion-col size="9">
            <ion-item>
              <ion-label position="stacked">Contribuição</ion-label>
              <ion-select [(ngModel)]="carona.contribuicao.id" name="contribuicao" okText="Selecionar"
                cancelText="Cancelar" button (click)="atualizarCont()">
                <ion-select-option *ngFor="let contribuicao of contribuicoes" value="{{ contribuicao.id }}">
                  {{contribuicao.tipo }}({{ contribuicao.valor }})
                </ion-select-option>
              </ion-select>
            </ion-item>
          </ion-col>
          <ion-col size="3">
            <ion-button routerLink="/manter-contribuicao" (click)="abrirCadastroCont()" title="Adicionar Contribuição"
              color="primary" style="margin-top: 8px;" expand="block">
              <ion-icon slot="start" name="add-circle-outline"></ion-icon>
            </ion-button>
          </ion-col>
        </ion-row>
      </ion-grid>
      <ion-list>
        <ion-item>
          <ion-label position="stacked">Situação</ion-label>
          <ion-input [(ngModel)]="carona.situacao" name="situacao" readonly="true" autocomplete="off" type="text">
          </ion-input>
        </ion-item>
      </ion-list>
      <ion-grid>
        <ion-row>
          <ion-col>
            <ion-button (click)="salvar(frm)" [disabled]="frm.invalid" color="tertiary" expand="block">
              Salvar
              <ion-icon slot="start" color="success" name="save-outline"></ion-icon>
            </ion-button>
          </ion-col>
          <ion-col>
            <ion-button (click)="excluir(carona.id, frm)" [disabled]="frm.invalid" color="secondary" expand="block">
              Remover
              <ion-icon slot="start" color="danger" name="trash-outline"></ion-icon>
            </ion-button>
          </ion-col>
        </ion-row>
      </ion-grid>
    </form>
  </div>
</ion-content>